<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title> Profile </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/transaction.css}">
    <script type="text/javascript" th:href="@{/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:href="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:href="@{/js/bootstrap/bootstrap.min.js}"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-height">
        <a class="navbar-brand" href="/">
            <div class="brand-sizing">
                <i class="fa fa-circle fa-xs"></i>
                <i class="fa fa-circle fa-xs"></i>
                <i class="fa fa-circle fa-xs"></i>
            </div>
        </a>
        <label class="navbar-center">Pay My Buddy</label>
    </nav>
</header>
<nav class="navbar navbar-light bg-white navbar-height">
    <button type="button" class="btn btn-success">Pay My Buddy</button><!-- left-->
    <ul class="nav"><!-- right-->
        <li class="nav-item">
            <a class="nav-link" href="/user/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/makeTransfer">Transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<nav class="navbar navbar-light bg-light navbar-height">
    <ul class="nav"><!-- left-->
        <li class="nav-item">
            <a class="nav-link" href="/user/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">/</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Profile</a>
        </li>
    </ul>
</nav>
<div class="container">

    <label th:text="${errorMessage}"/>
    <div class="row">

        <h2 class="col-sm-8">User profile</h2>

    </div>


    <div class="helloText">

                <p>First Name: <span th:text="${account.firstName}"><span><p/>
                <p>Last Name: <span th:text="${account.lastName}"><span><p/>
                <p>Bank Name: <span th:text="${account.bankName}"><span><p/>
                <p>Bank Account Number : <span th:text="${account.bankAccountNumber}"><span><p/>
                <p>Balance: <span th:text="${account.balance}"><span><p/>


    </div>


       <h2 class="col-sm-8">Bank Transfer</h2>

    <form  th:action="@{/user/withdrawFromBank}" th:object="${credit}" method="post">
        <div class="row border" style="margin-bottom: 30px;">
            <div class="col-sm-3 boxItem">
                <input class="form-control" placeholder="amount" th:field="${credit.amount}">
                <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>
            </div>
            <div class="col-sm-5 text-right boxItem boxItemLast">
                <button type="submit" class="btn btn-success btn-xl">Deposit</button>
            </div>
        </div>
    </form>

    <form th:action="@{/user/depositToBank}" th:object="${debit}" method="post">
    <div class="row border" style="margin-bottom: 30px;">
            <div class="col-sm-3 boxItem">
                <input class="form-control" placeholder="amount" th:field="${debit.amount}">
            </div>
            <div class="col-sm-5 text-right boxItem boxItemLast">
                <button type="submit" class="btn btn-success btn-xl">Withdraw</button>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4"></div>

    </div>


</div>
</div>
</div>
</div>


</body>
</html>


<!---->
<!---->